@import "../../App";

.spell {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;

    .heading {
        display: flex;
        gap: 30px;

        .school {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            border: 5px solid $dark-gray;
            padding: 10px;
            border-radius: 10%;
            padding: 5px;
            height: 220px;
            width: 180px;
            text-align: center;
            font-size: 24px;
            font-weight: bold;
        }

        .title {
            .name {
                font-size: 54px;
                font-weight: bold;
            }
            .level {
                font-size: 30px;
            }
        }

    }
}