.sidebar {
    background-color: var(--dark-gray);
    width: 250px;
    min-width: 250px;
    color: white;
    padding: 10px;

    a {
        color: lightgray;
    }

    .search {
        border: 1px solid lightgray;
        border-radius: 5px;
        padding: 10px; 
        color: lightgray;
        cursor: pointer;

        .link {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}