.spell-search {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
    padding: 20px;

    .filters {
        display: flex;
        justify-content: center;
        gap: 30px;

        .filter-container {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .filter {
                height: 40px;
                border-radius: 5px;
                padding: 10px;
                border: 2px solid var(--dark-gray);
                
                &.name-input {
                    width: 300px;
                }
    
                &.level-input {
                    width: 60px;
                }

                &.school-input {
                    width: 200px;
                }
            }
        }
    }

    .list {
        display: flex;
        flex-direction: column;
        gap: 15px;
        flex-wrap: wrap;

        .list-item {
            display: flex;
            align-items: center;
            gap: 20px;
            border-bottom: 2px solid var(--dark-gray);
            padding: 20px;
            color: inherit;
            text-decoration: none;

            &:hover {
                background-color: #eeeeee;
            }

            .school-icon-container {
                border: 2px solid var(--dark-gray);
                border-radius: 5px;
                padding: 3px;

                .school-icon {
                    height: 40px;

                    svg {
                        width: 40px;
                        height: 40px;
                    }
                }
            }

            .spell-info {
                display: flex;
                flex-direction: column;
            }
        }
    }
}